* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif, Helvetica;
  background-color: #f7f9fa;
}

/* Logo */
.topbar {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 60px;
  background: #fff;
  box-shadow: 0 2px 10px rgba(17, 24, 39, .04);
}

.topbar_inner {
  display: flex;
  padding: 15px;
  align-items: center;
  font-size: .8rem;
  gap: .3rem;
}

.logo-name {
  font-size: 1.1rem;
}

.logo {
  margin-top: 2px;
  border-radius: 8px;
  margin-left: 28px;
  background-color: #7661ed;
  color: #fff;
}

/* links */
.nav_link {
  position: relative;
}

.links {
  display: flex;
  list-style: none;
  gap: 2rem;
  margin-right: 40px;
}

.links li {
  position: relative;
}

.links a {
  text-decoration: none;
  color: #828994;
  padding: 10px 20px;
  font-size: 0.8rem;
  border-radius: 0.6rem;
  display: inline-block;
  transition: 0.3s ease;
}

.links a:hover {
  color: #7b89ed;
}

.links a.active {
  color: #7b89ed;
  background-color: #f2f3f5;
}

/* Menu Icon */
.menu-icon {
  display: none;
  margin-right: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0px 7px;
  background-color: #f2f3f5;
  border-radius: 6px;
}

.menu-toggle {
  display: none;
}

/* Responsive */
@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .links {
    display: none;
    position: absolute;
    right: -25px;
    top: 50px;
    width: 260px;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    /* -webkit-backdrop-filter: blur(10px); */
    box-shadow: 0 2px 10px rgba(17, 24, 39, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }

  .links li {
    padding: 1rem;
  }

  .nav_link .links {
    align-items: center;
  }

  .menu-toggle:checked~.links {
    display: flex;
  }
}

/* Error text */
.error {
  position: relative;
  bottom: 4px;
  font-size: 11px;
  display: flex;
  align-items: center;
  flex-direction: row;
  color: red;
  height: 6px;
  gap: 0.2rem;
}

.fa-circle-exclamation {
  color: red;

}

/* Notification Box */
.notify-box {
  position: fixed;
  right: 30px;
  display: flex;
  flex-direction: column;
  z-index: 1;
  overflow: hidden;
  padding: 10px;
}

@keyframes animate {
  from {
    transform: translateX(150%)
  }

  to {
    transform: translateX(0%);
  }
}

.toast {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  width: 250px;
  gap: 0.5rem;
  background: #fff;
  color: rgb(16, 140, 16);
  font-weight: 500;
  font-size: 13px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
  border-radius: 7px;
  margin: 10px 10px;
  animation-name: animate;
  animation-duration: 1s;
}

.fa-trash-arrow-up,
.trash {
  color: red;
}

/* main section */
.main {
  margin-bottom: 3rem;
}

.title {
  display: inline-flex;
  position: relative;
  align-items: center;
  top: 30px;
  bottom: 10px;
  left: 38px;
}

.title-logo {
  height: clamp(1.7rem, 2vw, 2.5rem);
  width: clamp(0.063rem, 2vw, 0.25rem);
  background-color: #7661ed;
  margin: 0rem 0.750rem;
  border-radius: clamp(0.300rem, 2vw, 0.625rem);
}

.title-name {
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  font: bold;
  font-weight: 600;
}

/* main section */
.main-section {
  background-color: rgb(247, 249, 250);
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
}

/* Expand View */
.main-section.full-width {
  grid-template-columns: 1fr;
  transition: 1s ease;
}

.main-section.full-width .sub-section1 {
  display: none;
}

.sub-section2.expand {
  margin-left: 50px;
  overflow: visible;
}

.sub-section2.expand .taskcard-container {
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

/* Subsections */
.sub-section1 {
  margin: 50px 6px 10px 50px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.1);
  height: fit-content;
}

.sub-section2 {
  position: relative;
  background-color: white;
  margin: 50px 50px 10px 6px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* Sub Section 1 */
.sub-section1 .Heading {
  padding: 1rem;
  margin-left: clamp(-17px, 2vw, -19px);
}

.sub-section1 input,
select,
textarea {
  margin: 10px 0px;
  padding: 10px;
  width: 100%;
  max-width: 100%;
  border-radius: 6px;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.158);
}

.sub-section1 input:focus,
textarea:focus,
select:focus {
  border-color: #7661ed;
}


/* Floating Label */
.sub-section1 .labelline {
  position: absolute;
  left: 82px;
  color: #757575;
  background-color: #fff;
  pointer-events: none;
  font-size: 12.5px;
  transition: 0.2s ease all;
}

.sub-section1 .float-label {
  position: relative;
}

.sub-section1 #cursor {
  cursor: pointer;
}

.sub-section1 .labelline {
  margin-top: 5.5px;
  padding-inline: 3px;
  font-size: 10px;
  color: #7b89ed;
}

/* Textarea */
.sub-section1 textarea {
  height: 100px;
  margin: 10px 0px;
}

.sub-section1 .task-Description textarea::placeholder {
  font-family: "Arial", Helvetica, sans-serif;
  padding: 2em 0em;
}

/* color-range */
.sub-section1 .color-range,
.task-progress,
.task-color {
  border: 0px;
  padding: 0;
  font-size: 15px;
  margin-top: 10px;
  accent-color: #5768eb;
}

.color-range {
  cursor: pointer;
}

.sub-section1 .task-progress h5 {
  color: #5768eb;
  text-align: center;
}

/* Checkbox */
.sub-section1 .check {
  vertical-align: middle;
  width: 19px;
  height: 19px;
  accent-color: #5768eb;
  cursor: pointer;
}

.task-type,
.task-status {
  white-space: nowrap;
  font-size: 15px;
  margin-top: 10px;
}

/* Radio-btn */
.sub-section1 .radio {
  vertical-align: middle;
  width: 19px;
  height: 19px;
  accent-color: #5768eb;
  cursor: pointer;
}

.sub-section1 .task-type label,
.task-status label {
  margin-right: 20%;
}

/* Button */
.sub-section1 .Buttons {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  vertical-align: middle;
  justify-content: space-around;
  gap: 1rem;
  margin-top: 15px;
}

.sub-section1 button {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  background-color: rgb(70, 81, 227);
  padding: 20px 35px;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.sub-section1 button span {
  font-size: 0.800rem;
}

.sub-section1 .Reset-button {
  background-color: rgb(242, 243, 245);
  color: black;
  margin-left: 0.625rem;
  padding: 14px 1.875rem;
}

/* Empty Task Page */
.empty-state {
  height: 100%;
  min-height: 350px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 12px;
  color: #555;
  transition: 0.5s ease;
}

.empty-state h2 {
  color: #333;
}

.empty-state p {
  color: #777;
}

.empty-state img {
  width: 100%;
  max-width: 80%;
}

.empty-state button {
  margin-top: 10px;
  padding: 10px 22px;
  border-radius: 20px;
  font-size: 0.9rem;
  cursor: pointer;
  border: none;
  color: white;
  background-color: #5768eb;
}

.empty-button.hide {
  display: none;
}

/* PopUP Box */
.popup-box {
  position: fixed;
  display: flex;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.95);
  width: 100%;
  height: 82%;
  max-width: 700px;
  z-index: 100;
  visibility: hidden;
}

.popup {
  width: 100%;
  background: #fff;
  border-radius: 0.7rem;
  scrollbar-width: none;
  overflow-y: auto;
}

.closebox-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: 7px 20px;
}

.close {
  font-size: 25px;
  cursor: pointer;
}

/* edit-form */
.edit-form {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  font-size: small;
  padding: 10px 20px;
}

.edit-form input,
textarea {
  width: 100%;
  max-width: 100%;
  border-radius: 6px;
  padding: 10px;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.158);
}

.edit-priority,
textarea {
  margin: 0px;
}

.edit-form label {
  color: #1e40af;
}

#edit-description {
  height: 100px;
}

.edit-progress {
  text-align: center;
  color: #5768eb;
}

.edit-progress #edit-range {
  border: 0px;
  padding: 0;
  accent-color: #5768eb;
}

#edit-color {
  height: 30px;
  padding: 2px;
}

.edit-taskType,
.edit-status {
  display: flex;
  flex-direction: row;
  accent-color: #5768eb;
  white-space: nowrap;
  margin: 5px 0px;
}

.edit-checks,
.edit-radios {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.edit-checks input,
.edit-radios input {
  margin-left: 4rem;
  height: 15px;
  width: 15px;
  cursor: pointer;
}

.edit-status {
  gap: 1.35rem;
}

.edit-checks label,
.edit-radios label {
  cursor: pointer;
  color: black;
}

.edit-buttons {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  justify-content: space-around;
  gap: 1rem;
  margin: 10px 0px;
}

.edit-buttons button {
  padding: 20px 35px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-btn {
  background-color: rgb(242, 243, 245);
  color: black;
}

.save-btn {
  color: white;
  background-color: #5768eb;
}

/* Edit Box Responsive */
@media (max-width: 768px) {
  .closebox-title {
    padding: 10px 15px;
  }

  .edit-form {
    gap: 0.8rem;
    padding: 10px;
  }

  .edit-taskType,
  .edit-status {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .edit-checks,
  .edit-radios {
    width: 100%;
    justify-content: flex-start;
  }

  .edit-checks input,
  .edit-radios input {
    margin-left: 0;
  }

  /* Buttons */
  .edit-buttons {
    flex-direction: column;
  }

  .edit-buttons button {
    width: 100%;
    padding: 14px;
  }

  /* Task card View responsive */
  .modal-body p {
    font-size: clamp(13px, 1vh, 15px);
  }

  .close-btn {
    font-size: 22px;
  }

  .row {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 10px 0;
  }

  .row span {
    font-size: 14px;
  }

  .profile {
    font-size: clamp(13px, 2vh, 15px);
    gap: 0px;
  }

  .info-grid .left {
    padding-right: 5px;
  }

  .dueTime div {
    font-size: small;
    gap: 0px;
  }

  .fa-clock {
    font-size: small;
  }

  .project-link {
    font-size: small;
  }
}

/* Overlay */
.task-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 99;
  display: none;
}

/* Modal */
.task-modal {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.95);
  width: 100%;
  max-height: 80%;
  max-width: 700px;
  background: #fff;
  border-radius: 14px;
  padding: 20px;
  display: none;
  z-index: 100;
  scrollbar-width: none;
  overflow-y: auto;
}

/* Header */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

/* Body */
.modal-body label {
  font-size: 14px;
  color: #888;
}

.modal-body p {
  margin: 4px 0 12px;
}

.modal-status,
.modal-level {
  border-radius: 20px;
  padding: 4px 10px;
  font-size: smaller;
  font-weight: 100;
}

.red {
  color: red;
  background-color: rgb(255, 237, 237);
}

.blue {
  color: #1185f2;
  background-color: #f1f4f8;
}

.orange {
  color: orange;
  background-color: rgb(245, 242, 235);
}

.green {
  color: #00ba85;
  background-color: #ebf5f2;
}

.row {
  display: flex;
  gap: 20px;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid rgb(226, 221, 221);
}

.row span {
  font-size: 15px;
}

.Assigner {
  display: flex;
  flex-direction: column;
}

.fa-circle-user {
  font-size: 1.5rem;
  color: #1185f2;
}

.fa-link {
  font-size: small;
}

.fa-clock {
  color: #888;
  font-size: large;
  margin-bottom: 10px;
}

.profile {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
}

.profile span {
  color: #888;
  font-size: smaller;
}

.modal-types i {
  color: green;
}

.progress-bar {
  text-align: center;
}

.progress-bar progress {
  margin-top: 10px;
  width: 100%;
}

.dueTime div {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.dueTime label {
  margin-bottom: 10px;
}

.info-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-bottom: 1px solid rgb(226, 221, 221);
  padding: 10px 0px;
  margin-bottom: 10px;
}

.info-grid .left {
  border-right: 1px solid rgb(226, 221, 221);
}

.info-grid .right {
  padding-left: 15px;
}

.project-link {
  text-align: center;
  margin-top: 10px;
}

.project-link a {
  text-decoration: none;
}


/* View More Button */
.viewmore-btn {
  position: absolute;
  bottom: 14px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  display: none;
}

.viewmore-btn p {
  padding: 10px 20px;
  font-size: small;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  background: #5768eb;
  color: white;
  transition: 0.3s ease;
}

.viewmore-btn span {
  display: inline-block;
}

.viewmore-btn span:after {
  content: '\00bb';
  opacity: 0;
  position: absolute;
  bottom: -5px;
  transition: 0.3s ease;
  transform: rotate(90deg);
}

.viewmore-btn p:hover span:after {
  opacity: 1;
  bottom: 0;
}

.viewmore-btn p:hover {
  padding-bottom: 10px;
  transform: translateY(-4px);
}

.close-view span {
  font-size: 30px;
  cursor: pointer;
}


/* Sub Section 2 */

.sub-section2 .sub-section2-navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: clamp(0.5rem, 2vw, 1rem) clamp(0.4rem, 2vw, 0.4rem);
}

.sub-section2 input[type="radio"] {
  display: none;
}

.task-filters {
  display: flex;
  gap: 1rem;
}

.task-filters label {
  flex: 1;
  text-align: center;
  text-decoration: none;
  padding: clamp(0.25rem, 2vw, 0.35rem) clamp(0.9rem, 2vw, 0.9rem);
  color: black;
  border: 2px solid rgb(232, 234, 237);
  border-radius: 0.9rem;
  font-size: clamp(0.8rem, 1vw, 0.9rem);
  cursor: pointer;
  white-space: nowrap;
}

/* Checked filter */
#All:checked~.sub-section2-navbar .task-filters label[for="All"],
#High:checked~.sub-section2-navbar .task-filters label[for="High"],
#Medium:checked~.sub-section2-navbar .task-filters label[for="Medium"],
#Low:checked~.sub-section2-navbar .task-filters label[for="Low"] {
  background-color: #5768eb;
  color: white;
  border-color: #5768eb;
}

/* Task Card */
.taskcard-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: clamp(1rem, 2vw, 1.5rem);
  margin: 0.313rem;
  /* overflow-y:auto;
  scrollbar-width: none; */
  /* background-color: #00ba85; */
}

.task-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  line-height: 1.3rem;
  border: 2px solid rgb(232, 234, 237);
  border-radius: 0.7rem;
  cursor: pointer;
  padding: 1.5em;
  padding-bottom: 0.1em;
  transition: transform 0.2s;
}

/* Hide remaining Cards */
#High:checked~.taskcard-container .task-card,
#Medium:checked~.taskcard-container .task-card,
#Low:checked~.taskcard-container .task-card {
  display: none;
}

/* Show Checked Filter Cards  */
#All:checked~.taskcard-container .task-card,
#High:checked~.taskcard-container .High,
#Medium:checked~.taskcard-container .Medium,
#Low:checked~.taskcard-container .Low {
  display: flex;
}

.task-card h4 {
  font-size: 16px;
}

.task-card i {
  float: right;
  margin-left: 5px;
}

.task-card p {
  font-size: 14px;
  margin-bottom: 0.5rem;
  color: #757575;
}

.task-card .calender-img,
.contact-img {
  vertical-align: middle;
  width: 17px;
}

.task-card:hover {
  transform: translatey(-5px);
}

.level-container {
  display: inline-flex;
  justify-content: space-between;
  margin-top: -6px;
  margin-bottom: -6px;
  padding: clamp(1rem, 2vw, 1rem) clamp(0rem, 2vw, 0rem);
  border-top: 2px solid #e6e6e6;
  font-size: 12px;
}

.level-container .progress small {
  position: relative;
  top: 1.5px;
  font-size: 20px;
  color: #1185f2;
}

.level-container .pending small {
  position: relative;
  top: 1.5px;
  font-size: 20px;
  color: #fa9e2d;
}

.level-container .completed small {
  position: relative;
  top: 1.5px;
  font-size: 20px;
  color: #00ba85;
}

.level-container span {
  font-size: 19px;
  position: relative;
  bottom: 1.3px;
  right: 1px;
}

.high,
.medium,
.low {
  text-transform: uppercase;
  border-radius: .9rem;
  padding: 4px 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.high {
  color: rgb(245, 66, 69);
  background-color: rgb(255, 237, 237);
}

.medium {
  color: #fa9e2d;
  background-color: rgb(255, 245, 235);
}

.low {
  color: #00ba85;
  background-color: rgb(228, 247, 242);
}

/* Footer */
.footer {
  background: #fafbfc;
  background-color: #fff;
  border-top: 1px solid #e6e6e6;
  padding: clamp(1.5rem, 4vw, 2rem) clamp(8rem, 9vw, 10rem);
  color: #1a1a1a;
}

/* Grid Layout*/
.footer-container {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: clamp(1.5rem, 3vw, 3rem);
  margin-bottom: clamp(1rem, 3vw, 2rem);
}

/* Column Titles */
.footer-column h3,
.footer-column h4 {
  font-size: clamp(0.95rem, 1.6vw, 1.15rem);
  font-weight: 600;
  margin-bottom: clamp(0.6rem, 1.2vw, 1rem);
}

/* Text and Links */
.footer-column p {
  white-space: nowrap;
  color: #555;
  font-size: clamp(0.8rem, 1.4vw, 0.95rem);
  line-height: 1.6;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column li {
  margin-bottom: clamp(0.4rem, 1vw, 0.6rem);
}

.footer-column a {
  text-decoration: none;
  color: #555;
  font-size: clamp(0.8rem, 1.4vw, 0.95rem);
  transition: color 0.2s ease;
}

.footer-column a:hover {
  color: #7661ed;
}

/* Bottom Section */
.footer-bottom {
  border-top: 1px solid #e6e6e6;
  padding-top: clamp(1rem, 2vw, 1.5rem);
  text-align: center;
  font-size: clamp(0.8rem, 1.4vw, 0.95rem);
  color: #6c757d;
}

.footer-bottom p {
  margin: 0;
}

/*  TABLET VIEW */
@media (min-width:601px) and (max-width: 1024px) {
  .main {
    margin-bottom: 1rem;
  }

  /* title */
  .title {
    left: 23px;
  }

  .links {
    margin-right: 20px;
  }

  /* Main Section */
  .main-section {
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 3rem 1rem;
  }

  /* Sub sections */
  .sub-section1,
  .sub-section2 {
    margin: 0 1rem;
  }

  /* Header and Nav */
  .topbar_inner {
    padding: 10px 15px;
  }

  .logo {
    margin-left: 15px;
  }

  .logo-name {
    font-size: 1.1rem;
  }

  /* floating label */
  .sub-section1 .labelline,
  .sub-section1 .tasklabel {
    left: 65px;
  }

  /* Task Type and Status */
  .task-type,
  .task-status {
    display: flex;
    align-items: center;
  }

  .checks {
    display: flex;
    align-items: center;
    margin-left: -70px;
    gap: 0.3rem;
  }

  .task-type .check {
    padding-right: clamp(60px, 2vw, 80px);
    width: 19px;
    height: 19px;
  }

  .radios {
    display: flex;
    align-items: center;
    margin-left: -45px;
    gap: 0.3rem;
  }

  .task-status .radio {
    padding-right: clamp(60px, 2vw, 70px);
  }

  .task-type {
    margin-bottom: -0.5rem;
  }

  /* Task cards  */
  .taskcard-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  /* Footer */
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }

  .footer-column ul {
    padding: 0;
  }
}

@media (min-width: 992px) {

  /* Task cards  */
  .taskcard-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media (max-width:640px) {

  /* Task Filters */
  .task-filters {
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.6em;
    margin-top: 1.5em;
  }
}

/*  MOBILE VIEW  */
@media (max-width: 600px) {
  .main {
    margin-bottom: -0.5rem;
  }

  /* title */
  .title {
    left: 7px;
  }

  /* Main Section */
  .main-section {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: hidden;
    gap: 2rem;
    padding: 3rem 1rem;
  }

  /* Sub Sections */
  .sub-section1,
  .sub-section2 {
    padding: 1rem;
    margin: 0;
  }

  .sub-section1 select {
    padding: 8px 10px;
  }

  /* floating label */
  .sub-section1 .labelline,
  .sub-section1 .tasklabel {
    left: 45px;
  }

  /* Header and Nav */
  .topbar_inner {
    padding: 10px;
    font-size: 1rem;
  }

  .logo {
    margin-left: 3px;
    font-size: 1.5rem;
  }

  .logo-name {
    font-size: 1.3rem;
  }

  .links {
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem;
  }

  .sub-section1 .Priority-field option {
    overflow-x: visible;
  }

  /* Buttons */
  .Buttons {
    flex-direction: column;
    gap: .5rem;
  }

  .Buttons button {
    width: 100%;
  }

  /* Task Filters */
  .task-filters {
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.6em;
    margin-top: 1.5em;
  }

  .task-filters label {
    width: 100%;
    text-align: center;
    margin: 0;
  }

  /* Task cards */
  .taskcard-container {
    grid-template-columns: 1fr;
  }

  .task-card h4 {
    font-size: 1rem;
  }

  .task-card p {
    font-size: .9rem;
  }

  /* Footer */
  .footer {
    padding: 2rem 0;
  }

  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 1rem;
  }

  .footer-column {
    margin-bottom: 1rem;
  }

  .footer-column h4 {
    font-size: 1rem;
  }

  .footer-bottom p {
    font-size: .85rem;
  }
}

@media (max-width:350px) {
  .task-filters {
    width: 100%;
    gap: 0.4em;
  }

  .task-filters label {
    text-align: center;
    font-size: 0.75em;
    padding: 0rem;
  }

}

@media (max-width:420px) {
  .taskcard-container {
    width: 100%;
    margin: 0;
  }

  .task-card {
    padding: 1em;
  }

  .task-filters {
    margin-bottom: 5px;
    width: 100%;
  }

  .task-filters label {
    text-align: center;
    padding: clamp(0.25rem, 2vw, 0.35rem);
  }

  /* Button */
  .sub-section1 .Buttons {
    width: 100%;
    gap: 0.8rem;
  }

  .sub-section1 button {
    padding: clamp(8px, 2vw, 10px) clamp(20px, 3vw, 25px);
    width: 100%;
  }

  .sub-section1 .Reset-button {
    padding: clamp(5px, 2vw, 7px) clamp(0.938rem, 3vw, 1.25rem);
  }

  .level-container {
    gap: 1rem;
  }
}